{% extends "layout.html" %}
{% block content %}
  <div class="row content">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 text-left">
      <div class="jumbotron">
          <h1 align="center"><i>Mastermind</i></h1>
          <br />
          <h3>Regras Mastermind</h3>
          <ul>
            <li>O jogo gera um numero randomico de 4 digitos diferetes(no jogo original são 4 cores.)</li>
            <li>O usuário deve chutar o numero que foi gerado pela maquina.</li>
            <li>Após o chute, o jogo retornará um numero composto por zeros e uns.</li>
            <li>Zero significa que o digito existe no número random, porém esta na posição errada.</li>
            <li>Um significa que o digito esta correto e na posição correta.</li>
          </ul>
          <br />
          <form action="{{url_for('mastermind_game')}}">
            <button type="submit" class="btn btn-primary btn-lg btn-block" >Play</button>
              </form>
                 <div class="border-top pt-3">
                    <small class="text-muted">
                        Ja tem uma conta? <a class="ml-2" href="{{ url_for('login') }}">Sigh-in</a> ou <a class="ml-2" href="{{ url_for('register') }}">Sigh-Up</a>
                    </small>
                 </div>
        </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
{% endblock content %}