<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Mastermind</title>
    {% endif %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .style-padding{
            padding: 10px;
        }
    </style>
</head>
<body>
    {% if nav_bar %}
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <span class="navbar-brand">Mastermind</span>
            </div>
            <ul class="nav navbar-nav">
              <li class=""><a href="{{ url_for('profile') }}">Perfil</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('sign_out') }}"><span class="glyphicon glyphicon-log-out"></span><span class="style-padding">Sair</span></a></li>
            </ul>
          </div>
        </nav>
    {% endif %}
<div class="container">
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>
