{% extends "layout.html" %}
{% block content %}
<div class="container-fluid text-center" class="border-input">
  <div class="row content">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6 text-left">
      <h1 align="center">Mastermind</h1>
      <table class="table table-striped col-sm-2">
      <thead>
        <tr>
          <th>Tentativa</th>
          <th>Acerto</th>
        </tr>
      </thead>
      <tbody>
        {% for tentativa in tentativas %}
        <tr>
            <td>{{ tentativa['number_typed'] }}</td>
            <td>{{ tentativa['result'] }}</td>
        </tr>
      {% endfor %}

      </tbody>
    </table>

    <div>
      <form method="POST" action="{{ url_for('mastermind') }}">
        <div class="form-group">
          <label for="typed-number">Número</label>
          <input type="text" class="form-control" id="typed-number" name="typed-number" required>
        </div>
        <button type="submit" {% if button_disabled %} disabled {% endif %}  class="btn btn-default">Checar</button>
      </form>
      {% if success %}
        <div class="alert alert-{{ category }}">{{ message_category }} O número correto é :<b>{{ random_from_session }}</b></div>
      {% endif %}
       </div>
      <hr>
      <form method="GET" action="{{ url_for('mastermind_game') }}">
        <button type="submit" class="btn btn-primary btn-lg btn-block" >New Game</button>
      </form>

      </div>
  </div>
</div>
{% endblock content %}