{% extends "layout.html" %}
{% block content %}
<h1 align="center">Sign Up</h1>
<hr>
<div lass="row content">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <form action="/new-password" method="POST">
        <fieldset>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" id="password" required>

                        <label>Confirm Password</label>
                        <input class="form-control" type="password" name="confirm_password" id="confirm_password" required>

                        <br />
                        <button type="submit" class="btn btn-default form-control-label">Sign in</button>
                    </div>
                </div>
         </fieldset>
      </form>
        <br />
        {% if success %}
            <div class="alert alert-{{ category }}">{{ message_category }}</div>
        {% endif %}
    </div>
    <div class="col-sm-2">
    </div>
</div>

<script>
    var password = document.getElementById("password")
      , confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Senhas diferentes!");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

{% endblock content %}