{% extends "layout.html" %}
{% block content %}
<h2 align="center">Bem vindo</h2>
<div class="well well-lg">
    <h3>E-mail</h3>
    {{ user["user"] }}
    <br />
    <h3>Nome</h3>
        {{ user["name"] }}
    <br />
    {% if user["record"] %}
        <h3>Recorde</h3>
            Na sua ultima tentativa você quebrou o código na {{ user["record"] }} tentativa.
    {% endif %}
</div>
<form action="{{url_for('mastermind_game')}}" method="get">
    <button type="submit" class="btn btn-default btn-block">Jogar</button>
</form>

{% endblock content %}
